build/
build-msvc-webengine/
.vscode/
.deps/
.ifw-cache/

CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.user
*.autosave
*.tmp
*.log

*.exe
*.dll
*.pdb
*.obj
*.ilk
